div{
    border:30px solid gray;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-top-color: blue;
    animation: scroll 1s linear infinite;
    margin-top:200px;
    margin: 200px 700px;
  
    
    
}

body{
    background: linear-gradient(135deg, #1f1c2c, #928dab);


}

@keyframes scroll{
    100%{
        transform: rotate(360deg);
    }
}

