body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: linear-gradient(135deg, #1f1c2c, #928dab);

  }
  textarea {
    width: 100%;
    height: 300px;
    font-size: 1em;
    padding: 10px;
    box-sizing: border-box;
  }
  button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
  }
  h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }